<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <php>
        <env name="setupFactory" value="Cabbage\Tests\Integration\API\SetupFactory" />
    </php>
    <testsuites>
        <testsuite name="Unit tests">
            <file>./tests/Unit/NodeTest.php</file>
        </testsuite>
        <testsuite name="Core integration tests">
            <file>./tests/Integration/Core/HttpClient/ClientTest.php</file>
            <file>./tests/Integration/Core/ConfiguratorTest.php</file>
            <file>./tests/Integration/Core/Indexer/GatewayTest.php</file>
            <file>./tests/Integration/Core/Searcher/GatewayTest.php</file>
            <file>./tests/Integration/Core/EngineTest.php</file>
        </testsuite>
        <testsuite name="API integration tests">
            <file>./tests/Integration/API/TestTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
